
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color:rgb(204, 212, 255);
}

#calcTemp {
    padding: 29px 67px;
    min-height: 290px;
    background-color: rgb(255 204 204);
    border-radius: 2px solid rgb(36, 186, 227);
    box-shadow: 0 0 17px;
}

label {
    font-size: 30px;
    line-height: 78px;
}

#temp {
    width: 110px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

#temp_diff {
    width: 120px;
    height: 34px;
    border-radius: 5px;
    margin: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}

#submit {
    width: 100px;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(14, 243, 255);
    padding: 5px;
    transition: all 0.5s ease;
}

#submit:hover{
    background-color: rgb(63, 175, 143);
   
}

#result{
    font-size: 27px;
}
